<tr>
  <td>
    <button id="bouboup" list-id="<%= list.id %>" class="btn btn-primary">Join</button>
  </td>
  <td><%= link_to list.name, list_path(list) %></td>
  <td><%= list.users.size %></td>
  <td><%= list.users.find { |u| u.id == current_user.id }.try(:available_points_on_given_list,list) %></td>
</tr>
