<%= provide(:title, "Blacklists") %>
<div><h1>Your Black Lists</h1></div>

<ul class="list-group main-list-index">
  <% @lists.each_with_index do |list, index| %>
      <%= render 'lists', :list => list, :index => index %>
  <% end %>

</ul>
