<%= provide(:title,"Your stats") %>

<div class="current_week_stat_div">
<ol class="breadcrumb">
  <li class="active">This week</li>
  <li><a href="#" class="all_time_user_stats">All time</a></li>
</ol>
</div>

<div class="global_user_stat_div hidden">
  <ol class="breadcrumb">
    <li><a href="#" class="current_week_user_stats">This week</a></li>
    <li class="active">All time</li>
  </ol>
</div>


<div data-graph="" id="graph_data" data-list=<%= @list.id %>></div>
<div id="user_stat_div"></div>