<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id = "1" style="display: none">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Bienvenue {{metaData.current_user.name}}</h4>
      </div>
      <div class="modal-body">
Tu es membre de la promotion 2017 de Télécom Bretagne et tu viens d'être blacklisté!

Ceci signifie qu'il y a sur le campus des gens que tu énerves,
qui ne t'aimes pas ou même, qui te haïssent

Alors défends toi, ou tu risques d'être élu
"l'étudiant le plus détesté du campus".
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">Next</button>
      </div>

</div>


<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="2" style="display: none">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
Voici une liste des gens de ta promo

-personne 1
-personne 2
...
-personne p

Parmi ces gens, il y en a forcément que tu détestes.
Mais tu ne sais pas comment extérioriser ta haine?!

The blacklistapp.com est là pour ça

bouton "Tu veux savoir pourquoi?"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">Next</button>
      </div>

</div>

<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="3" style="display: none">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
Sur ce site, tu reçois un capital de 25 votes par semaine.
Si FRANCOIS DUPONT t'a piqué ta place dans la file de la cantine,
que CHARLES BERNARD a encore faillotté auprès des profs, ou
que tu n'as pas réussi à choper MARINE DUBOIS, alors laisse exploser 
ta haine et donnent leur tes votes!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">Tu y es presque</button>
      </div>

</div>


<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="4" >

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

Dernière étape, crée ton profile!

Ici on leur propose de mettre à jour leur profil

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">C'est parti</button>
      </div>

</div>

