Hi {{name}},

<p>Look like someone just gave you {{points}} points on {{listName}}! </p>>

<p>Go defend yourself :-)</p>

<p>It's happening <a href="http://www.theblacklistapp.com"> here </a></p>

<p>Sincerely,</p>

<p></small>The BlackList App team </small></p>