<!DOCTYPE html>
<html>
  <head>
    <title>The BlackList</title>
    {{> assets/css}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  	
  	<div class="row">
  		{{> shared/header}}  
  	</div>


    <div class="row full-screen">
      {{#if message }}
      <div class="alert {{message.alertType}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{message.strongMessage}}</strong> {{message.messageText}}
      </div>
      {{/if}}
      
    	 {{{body}}}
    </div>

    <div class="row">
  		{{> shared/footer}}  
  	</div>

    {{> assets/js}}
  </body>
</html>