<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <p>Hopefully you'll enjoy the fun of the website without taking this all thing too seriously.</p>
    </div>
  </nav>
</footer>
