<!-- Modal -->
<div class="modal fade" id="commentModal_{{@index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <form accept-charset="UTF-8" action="/comments/reply" method="post" role="form">
            <input type="hidden" name="reply_comment[commentId]" value={{id}}>
            <input type="hidden" name="reply_comment[userId]" value={{user.id}}>
            <div class="form-group">
              <div class="main-page-form">
               <textarea autofocus="autofocus" class="form-control" name="reply_comment[text]" type="text" rows="4" placeholder="Reply here..." ></textarea>
             </div>
           </div>
         </div>

       </div>
       <div class="modal-footer">
        <input class="btn btn-success" name="commit" type="submit" value="Reply!" />
      </div>
    </form>

  </div>
</div>
</div>