<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id = "1">
  <div class="modal-dialog">
    <div class="modal-content tuto">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b>Welcome!</b></h4>
      </div>
      <div class="modal-body">
        <p>Tou are a student from Télécom Bretagne, class 2017  and you've just been </b>blacklisted!</b></p>

        <p>This means that some people in the campus <b>don't like you,
        despise you</b>, or even <b>hate you!</b></p>

        <p>So stand up, or you are going to be
        "THE MOST HATED STUDENT OF THE CAMPUS"!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">Next</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade in hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="2">
  <div class="modal-dialog">
    <div class="modal-content tuto">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b>Release your anger!</b></h4>
      </div>
      <div class="modal-body">
        <p>Here is a list of some people of your prom:

        <ul>
          <li> personne 1 </li>
          <li> personne 2 </li>
          <li> personne p </li>
        </ul>

        <p>Among these people, there are people you don't like.
        But you do not know how to set your anger free?!</p>

        <p>The <b>blacklistapp.com</b> is what you need!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">You want to know why?</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="3" >
  <div class="modal-dialog">
    <div class="modal-content tuto">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b>Vote for the people you hate!</b></h4>
      </div>
      <div class="modal-body">
        <p>On the App, you get rewarded with 25 votes every weeks.</p>

        <p> Si FRANCOIS DUPONT t'a piqué ta place dans la file de la cantine,
        que CHARLES BERNARD a encore faillotté auprès des profs, ou
        que tu n'as pas réussi à choper MARINE DUBOIS, alors laisse exploser 
        ta haine et donnent leur tes votes!<p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">Tu y es presque</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade in hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="4" >
  <div class="modal-dialog">
    <div class="modal-content tuto">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b>Choisis un pseudo</b></h4>
      </div>
      <div class="modal-body tuto">

        <form accept-charset="UTF-8" action="/user/tutorial" method="post" role="form">
          <div class="form-group">
            <label class="col-lg-2" for="user_email">Nickname</label>
            <div class="col-lg-10 main-page-form">
              <input autocomplete="off" class="form-control" id="user_nickname" name="nickname" type="text" placeholder="Enter your nickname"/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <input class="btn btn-primary tutorial" name="commit" type="submit" value="C'est parti!" />
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

