<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id = "1">
  <div class="modal-dialog">
    <div class="modal-content tuto">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b>Welcome!</b></h4>
      </div>
      <div class="modal-body">
        <p>You are a student from Télécom Bretagne, class 2017  and you've just been </b>blacklisted!</b></p>

        <p>This means that some people in the campus <b>don't like you,
        despise you</b>, or even <b>hate you!</b></p>

        <p>So stand up, or you are going to be
        "THE MOST HATED STUDENT OF THE CAMPUS"!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">Next</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade in hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="2">
  <div class="modal-dialog">
    <div class="modal-content tuto">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b>Release your anger!</b></h4>
      </div>
      <div class="modal-body">
        <p>Here is a list of some people of your prom:

        <ul>
          <li> Florian  CARINGI </li>
          <li> Natacha  DESERT </li>
          <li> Julian GUTIERREZ </li>
        </ul>

        <p>Among these people, there are people you don't like.
        But you do not know how to set your anger free?!</p>

        <p>The <b>blacklistapp.com</b> is what you need!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">You want to know why?</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="3" >
  <div class="modal-dialog">
    <div class="modal-content tuto">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b>Vote for the people you hate!</b></h4>
      </div>
      <div class="modal-body">
        <p>On the App, you get rewarded with 25 votes every weeks.</p>

        <p> Did Lucas ORTET cut the line in front of you in the cafeteria ?
            Did Ferdinand HARMEL kissed the teachers' ass again ?
            You still haven't managed to hookup with Juliette SOWDEN ?
            Time to let you hatred go wild and blacklist them!<p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary tutorial">You are almost done!</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade in hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="4" >
  <div class="modal-dialog">
    <div class="modal-content tuto">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b>Chose a nickname</b></h4>
      </div>
      <div class="modal-body tuto">

        <form accept-charset="UTF-8" action="/user/tutorial" method="post" role="form">
          <div class="form-group">
            <label class="col-lg-2" for="user_email">Nickname</label>
            <div class="col-lg-10 main-page-form">
              <input autocomplete="off" class="form-control" id="user_nickname" name="nickname" type="text" placeholder="Enter your nickname"/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <input class="btn btn-primary tutorial" name="commit" type="submit" value="C'est parti!" />
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

