Hi {{name}},

<p>It's Monday. What's great about Mondays ? Well you have fresh 25 points to spend this week on people you don't like!</p>

<p>It's happening <a href="http://www.theblacklistapp.com"> here </a></p>

Sincerely,

The BlackList App team 