Hi {{name}},
<br>

<p>The week is almost over and you still have {{points}} left on {{list}} !</p> 
<p>If you don't use them before tomorrow they'll be wasted</p>

<p>It's happening <a href="http://www.theblacklistapp.com"> here </a></p>

Sincerely,

The BlackList App team 