<div class="row center-vert col-md-offset-4 col-md-4">

  <form accept-charset="UTF-8" action="/login" method="post" role="form">
    
      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <input autofocus="autofocus" class="form-control" id="email" name="email" placeholder="Enter email" type="email" value="" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <input class="form-control" id="password" name="password" placeholder="Password" type="password" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <div class="checkbox">
            <label>
              <small class="pull-right"><a href="/reset">Forgot your password ?</a></small>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <input class="col-md-12 btn btn-info" name="commit" type="submit" value="Log in" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-11 main-page-form">
          <p style="display:inline" class="lead"><a href="/forgotPassword">Password forgotten?</a></p>
        </div>
      </div>

</form></div>