<div class="row center-vert col-md-offset-4 col-md-4">

  <form accept-charset="UTF-8" action="/reset/{{salt}}" method="post" role="form">
    
      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <input autofocus="autofocus" class="form-control" id="email" name="user[password]" placeholder="New Password" type="password" value="" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <input autofocus="autofocus" class="form-control" id="email" name="user[password_confirmation]" placeholder="New Password Confirmation" type="password" value="" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 main-page-form">
          <input class="col-md-12 btn btn-info" name="commit" type="submit" value="Change password" />
        </div>
      </div>

</form></div>