<div class="row col-md-8 col-md-offset-2">
<div class="panel panel-primary blacklistToLoadLayout displayList" blacklistid={{list._id}}>
  <!-- Default panel contents -->
  <div class="panel-heading">{{list.name}}</div>
  <div class="panel-body">
    <img style="margin-left: 45%" src="/img/loader.gif">
  </div>

</div>
</div>