footer .navbar-default {
    width: 100%;
    border: 1px solid #eaeaea;
    font-family: verdana;
    text-align: center;
    height: 50px;
    background:transparent !important;
    clear:both;
}

footer nav li {
    display:inline;
}

footer nav p {
    color: #2790B0;
}
