<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <p>Designed and built by the greatest friends. ( <%= link_to "Contact us", new_contact_path  %> )</p>
      <p>Hopefully you'll enjoy the fun of the website without taking this all thing too seriously.</p>
      <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li class="muted">&middot;</li>
        <li><a href="#">Issues</a></li>
        <li class="muted">&middot;</li>
        <li><a href="#">Changelog</a></li>
      </ul>
    </div>
  </nav>
</footer>