  <ul class="well sidebar sidebar-nav sidebar-nav-fixed nav nav-list" data-spy="affix" data-offset-top="200">
    <li><%= link_to '<span class="glyphicon glyphicon-chevron-right"></span>Browse all lists'.html_safe, authenticated_root_path %></li>
    <li><%= link_to '<span class="glyphicon glyphicon-chevron-right"></span>Show list'.html_safe, list_path(@list) %></li>
    <li><%= link_to '<span class="glyphicon glyphicon-chevron-right"></span>Your statistics'.html_safe, user_stat_lists_path %></li>
    <li><%= link_to '<span class="glyphicon glyphicon-chevron-right"></span>List statistics'.html_safe, global_stat_lists_path %></li>
  </ul>
